;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"
            3531 "public/cljs"}

 :dependencies
 []

 :builds
 {:dev-esm {:target :esm 
            :output-dir "public/js" 
            :asset-path "js" 
            :modules {:common     {:entries [movie.common.core]
                                   :exports {onEvent movie.common.event/on}}
                      :model      {:entries  [movie.model.core]
                                   :depends-on #{:common}}
                      :view       {:entries [movie.view.core] 
                                   :depends-on #{:common} 
                                   :exports {View          movie.view.core/->View
                                             createElement movie.view.dom/create-dom}}
                      :controller {:entries [movie.controller.core]
                                   :depends-on #{:common}
                                   :exports {fetchStorage movie.controller.local/fetch}}}}}}
